extends layout


block content
	nav.navbar-default
		.container-fluid
			.navbar-header
				a(class='navbar-brand' href='#') Dia-Log
			ul.nav.navbar-nav
				li.active
					a(href='#') Home
					
			ul.nav.navbar-nav.navbar-right
				li
					a(href='#') #{user.username}
				li
					a(href='/signout', class='text-center new-account') Sign Out 
						span.glyphicon.glyphicon-log-out
	
	p 
	div.container.container-fluid
		.row
			.panel-group
				.panel.panel-success
					.panel-heading Welcome abroad!
					.panel-body You have succesfuly logged on to our service!
		
