extends layout

block content
  nav.navbar-inverse.row-fluid
    .container-fluid
      .navbar-header
         a(class='navbar-brand' href='#') Dia-Log
      ul.nav.navbar-nav
        li.active
          a(href='#') Home
        li
          a(href='#') Page
        li
          a(href='https://github.com/AzmanJaka/dia-log-project' target='_blank') GitHub
      
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/signup') Sign up 
            span.glyphicon.glyphicon-user
        li
          a(href='#', title='Header', data-toggle='popover', data-placement='bottom',rel='popover' data-content='Content') Log in 
            span.glyphicon.glyphicon-log-in
         // a(href='#', title='Header', data-toggle='popover', data-placement='top', data-content='Content') Top
        li
  .container-fluid
    p 
    .row
      .col-sm-2
        .jumbotron
      .col-sm-8
        .panel-group
          .panel.panel-default
            .panel-heading This page is in developement
            .panel-body Excuse us! This page is currently in developement. If you are a registered user, please log in.
      .col-sm-2
        .panel-group
          .panel.panel-default
            .panel-heading Log in
            .panel-body 
              .account-wall
                form(class='form-signin', action='/login', method='POST')
                  input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
                  input(type='password', name='password' class='form-control', placeholder='Password', required)
                  button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
                  span.clearfix
              if message
              h1.text-center.error-message #{message}
            
script.
  $(document).ready(function(){
     $('[data-toggle="popover"]').popover();   
  });