doctype html
html
  head
    title='Dia-Log'
    
    
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js')
    
    
    script (src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
    script (src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/morris.css')
    link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css")
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/sticky-footer.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    
    
    
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    link(rel='stylesheet', href='/bootflat/css/bootstrap.min.css')
    script(src='javascript/ehr.js')
    script(src='javascript/new_ehr_user.js')
    script(type ="text/javascript" src='javascript/test.js')
    script(type ="text/javascript" src='javascript/moris_script.js')

  body
    block content
      